{
  "openapi": "3.0.1",
  "info": {
    "title": "公共運輸-軌道",
    "description": "本平臺提供涵蓋全國尺度之交通旅運資料服務API，歡迎各產政學單位介接使用。\n<br><span class=swagger-description-indicatation>利用本平臺開放資料進行各項應用服務開發時，請考量不同特性使用者(如：性別/身心障礙/老幼等)的需求，並歡迎回饋寶貴意見</span>。\n---\n##### API線上說明(Swagger UI)使用流程與注意事項：\n1. 若不使用API金鑰呼叫API，則僅能透過瀏覽器呼叫`【基礎】`服務 ，且每個呼叫來源端IP的上限為每日50次。\n2. `【進階】`、`【加值】`、`【歷史】`、`【MaaS】`服務需加入會員並取得API金鑰之後才能使用。\n3. 欲使用API金鑰呼叫API，需[註冊為TDX會員](/register)，並於會員中心取得API金鑰。\n4. 註冊為會員之後，至[【會員專區-資料服務-服務金鑰】](/user/dataservice/key)功能頁面，從預設金鑰(或建立新的金鑰)取得Client Id和Client Secret資訊。\n5. 點選Swagger UI上的Authorize按鈕，依指示填入Client Id和Client Secret資訊並進行驗證，驗證完成後可開始於Swagger UI使用API。\n6. 欲透過程式介接API，可參考[範例程式](https://github.com/tdxmotc/SampleCode)。\n7. 為確保系統資源使用的合理分配與避免遭受濫用，於Swagger UI上使用API與程式介接API的行為將被記錄並定期做檢視。\n\n##### API呼叫次數限制:\n1. 若不使用API金鑰呼叫API，則僅能透過瀏覽器呼叫`【基礎】`服務 ，且每個呼叫來源端IP的上限為每日50次。\n2. 使用API金鑰呼叫API，每個呼叫來源端IP呼叫次數限制為50次/秒 (無每日上限)。\n\nAPI OAS文本 :[請點我](https://tdx.transportdata.tw/backend/api/File/Swagger/V3/268fc230-2e04-471b-a728-a726167c1cfc)",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://tdx.transportdata.tw/api/basic"
    }
  ],
  "paths": {
    "/v2/Rail/Operator": {
      "get": {
        "tags": ["Common"],
        "summary": "取得軌道營運業者資料",
        "operationId": "RailApi_Operator_2165",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V2.Base.Operator"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V2.Base.Operator"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Network/{RailSystem}": {
      "get": {
        "tags": ["Metro"],
        "summary": "取得捷運路網資料",
        "description": "取得捷運路網資料",
        "operationId": "MetroApi_Network_2090",
        "parameters": [
          {
            "name": "RailSystem",
            "in": "path",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,TRTCMG:貓空纜車)",
            "required": true,
            "schema": {
              "enum": ["TRTC", "KRTC", "TYMC", "TRTCMG", "TMRT"],
              "type": "string"
            },
            "x-enum": {
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運",
              "TMRT": "臺中捷運",
              "TRTC": "臺北捷運",
              "TRTCMG": "貓空纜車"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.Network"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.Network"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Line/{RailSystem}": {
      "get": {
        "tags": ["Metro"],
        "summary": "取得捷運路線基本資料",
        "description": "取得捷運路線基本資料",
        "operationId": "MetroApi_Line_2091",
        "parameters": [
          {
            "name": "RailSystem",
            "in": "path",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,KLRT:高雄輕軌,NTDLRT:淡海輕軌,TRTCMG:貓空纜車)",
            "required": true,
            "schema": {
              "enum": [
                "TRTC",
                "KRTC",
                "TYMC",
                "KLRT",
                "NTDLRT",
                "TRTCMG",
                "TMRT"
              ],
              "type": "string"
            },
            "x-enum": {
              "KRTC": "高雄捷運",
              "NTDLRT": "淡海輕軌",
              "TRTC": "臺北捷運",
              "TRTCMG": "貓空纜車",
              "TMRT": "臺中捷運",
              "TYMC": "桃園捷運",
              "KLRT": "高雄輕軌"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.Line"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.Line"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Station/{RailSystem}": {
      "get": {
        "tags": ["Metro"],
        "summary": "取得捷運車站基本資料",
        "description": "取得捷運車站基本資料",
        "operationId": "MetroApi_Station_2092",
        "parameters": [
          {
            "name": "RailSystem",
            "in": "path",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,KLRT:高雄輕軌,NTDLRT:淡海輕軌,TRTCMG:貓空纜車)",
            "required": true,
            "schema": {
              "enum": [
                "TRTC",
                "KRTC",
                "TYMC",
                "KLRT",
                "NTDLRT",
                "TRTCMG",
                "TMRT"
              ],
              "type": "string"
            },
            "x-enum": {
              "TMRT": "臺中捷運",
              "KRTC": "高雄捷運",
              "NTDLRT": "淡海輕軌",
              "TYMC": "桃園捷運",
              "TRTC": "臺北捷運",
              "TRTCMG": "貓空纜車",
              "KLRT": "高雄輕軌"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.Station"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.Station"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/StationOfLine/{RailSystem}": {
      "get": {
        "tags": ["Metro"],
        "summary": "取得捷運路線車站基本資料",
        "description": "取得捷運路線車站基本資料",
        "operationId": "MetroApi_StationOfLine_2093",
        "parameters": [
          {
            "name": "RailSystem",
            "in": "path",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,KLRT:高雄輕軌,NTDLRT:淡海輕軌,TRTCMG:貓空纜車)",
            "required": true,
            "schema": {
              "enum": [
                "TRTC",
                "KRTC",
                "TYMC",
                "KLRT",
                "NTDLRT",
                "TRTCMG",
                "TMRT"
              ],
              "type": "string"
            },
            "x-enum": {
              "TMRT": "臺中捷運",
              "NTDLRT": "淡海輕軌",
              "TYMC": "桃園捷運",
              "KLRT": "高雄輕軌",
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TRTCMG": "貓空纜車"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.StationOfLine"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.StationOfLine"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/LineTransfer/{RailSystem}": {
      "get": {
        "tags": ["Metro"],
        "summary": "取得捷運路線站間轉乘基本資料",
        "description": "取得捷運路線站間轉乘基本資料",
        "operationId": "MetroApi_LineTransfer_2094",
        "parameters": [
          {
            "name": "RailSystem",
            "in": "path",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運)",
            "required": true,
            "schema": {
              "enum": ["TRTC", "KRTC"],
              "type": "string"
            },
            "x-enum": {
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運",
              "TRTC": "臺北捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.LineTransfer"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.LineTransfer"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/StationFacility/{RailSystem}": {
      "get": {
        "tags": ["Metro"],
        "summary": "取得捷運車站設施資料",
        "description": "取得捷運車站設施資料",
        "operationId": "MetroApi_StationFacility_2095",
        "parameters": [
          {
            "name": "RailSystem",
            "in": "path",
            "description": "欲查詢軌道系統(TYMC:桃園捷運)",
            "required": true,
            "schema": {
              "enum": ["TYMC"],
              "type": "string"
            },
            "x-enum": {
              "TYMC": "桃園捷運",
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.StationFacility"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.StationFacility"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/StationExit/{RailSystem}": {
      "get": {
        "tags": ["Metro"],
        "summary": "取得捷運車站出入口基本資料",
        "description": "取得捷運車站出入口基本資料",
        "operationId": "MetroApi_StationExit_2096",
        "parameters": [
          {
            "name": "RailSystem",
            "in": "path",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,TRTCMG:貓空纜車)",
            "required": true,
            "schema": {
              "enum": ["TRTC", "KRTC", "TYMC", "TRTCMG", "TMRT"],
              "type": "string"
            },
            "x-enum": {
              "TYMC": "桃園捷運",
              "KRTC": "高雄捷運",
              "TRTCMG": "貓空纜車",
              "TMRT": "臺中捷運",
              "TRTC": "臺北捷運",
              "KLRT": "高雄輕軌"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.StationExit"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.StationExit"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Route/{RailSystem}": {
      "get": {
        "tags": ["Metro"],
        "summary": "取得捷運營運路線基本資料",
        "description": "取得捷運營運路線基本資料",
        "operationId": "MetroApi_Route_2097",
        "parameters": [
          {
            "name": "RailSystem",
            "in": "path",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,NTDLRT:淡海輕軌)",
            "required": true,
            "schema": {
              "enum": ["TRTC", "KRTC", "TYMC", "NTDLRT", "TMRT"],
              "type": "string"
            },
            "x-enum": {
              "KRTC": "高雄捷運",
              "TMRT": "臺中捷運",
              "NTDLRT": "淡海輕軌",
              "TRTC": "臺北捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.Route"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.Route"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/StationOfRoute/{RailSystem}": {
      "get": {
        "tags": ["Metro"],
        "summary": "取得捷運營運路線車站基本資料",
        "description": "取得捷運營運路線車站基本資料",
        "operationId": "MetroApi_StationOfRoute_2098",
        "parameters": [
          {
            "name": "RailSystem",
            "in": "path",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,NTDLRT:淡海輕軌)",
            "required": true,
            "schema": {
              "enum": ["TRTC", "KRTC", "TYMC", "NTDLRT", "TMRT"],
              "type": "string"
            },
            "x-enum": {
              "TYMC": "桃園捷運",
              "TRTC": "臺北捷運",
              "NTDLRT": "淡海輕軌",
              "KRTC": "高雄捷運",
              "TMRT": "臺中捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.StationOfRoute"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.StationOfRoute"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/FirstLastTimetable/{RailSystem}": {
      "get": {
        "tags": ["Metro"],
        "summary": "取得捷運首末班車時刻表資料",
        "description": "取得捷運首末班車時刻表資料",
        "operationId": "MetroApi_FirstLastTimetable_2099",
        "parameters": [
          {
            "name": "RailSystem",
            "in": "path",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,KLRT:高雄輕軌)",
            "required": true,
            "schema": {
              "enum": ["TRTC", "KRTC", "TYMC", "KLRT", "TMRT"],
              "type": "string"
            },
            "x-enum": {
              "KLRT": "高雄輕軌",
              "KRTC": "高雄捷運",
              "TRTC": "臺北捷運",
              "TMRT": "臺中捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.FirstLastTimetable"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.FirstLastTimetable"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Frequency/{RailSystem}": {
      "get": {
        "tags": ["Metro"],
        "summary": "取得捷運路線發車班距頻率資料",
        "description": "取得捷運路線發車班距頻率資料",
        "operationId": "MetroApi_Frequency_2100",
        "parameters": [
          {
            "name": "RailSystem",
            "in": "path",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,TYMC:桃園捷運,TMRT:臺中捷運)",
            "required": true,
            "schema": {
              "enum": ["TRTC", "TYMC", "TMRT"],
              "type": "string"
            },
            "x-enum": {
              "TMRT": "臺中捷運",
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.Frequency"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.Frequency"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/S2STravelTime/{RailSystem}": {
      "get": {
        "tags": ["Metro"],
        "summary": "取得捷運列車站間運行時間資料",
        "description": "取得捷運列車站間運行時間資料",
        "operationId": "MetroApi_S2STravelTime_2101",
        "parameters": [
          {
            "name": "RailSystem",
            "in": "path",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,KLRT:高雄輕軌)",
            "required": true,
            "schema": {
              "enum": ["TRTC", "KRTC", "TYMC", "KLRT", "TMRT"],
              "type": "string"
            },
            "x-enum": {
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "TMRT": "臺中捷運",
              "KLRT": "高雄輕軌",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.S2STravelTime"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.S2STravelTime"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/ODFare/{RailSystem}": {
      "get": {
        "tags": ["Metro"],
        "summary": "取得捷運起迄站間票價資料",
        "description": "取得捷運起迄站間票價資料",
        "operationId": "MetroApi_ODFare_2102",
        "parameters": [
          {
            "name": "RailSystem",
            "in": "path",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,KLRT:高雄輕軌,NTDLRT:淡海輕軌,TRTCMG:貓空纜車)",
            "required": true,
            "schema": {
              "enum": [
                "TRTC",
                "KRTC",
                "TYMC",
                "KLRT",
                "NTDLRT",
                "TRTCMG",
                "TMRT"
              ],
              "type": "string"
            },
            "x-enum": {
              "NTDLRT": "淡海輕軌",
              "KRTC": "高雄捷運",
              "TRTCMG": "貓空纜車",
              "TRTC": "臺北捷運",
              "TMRT": "臺中捷運",
              "KLRT": "高雄輕軌",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.ODFare"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.ODFare"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/LiveBoard/{RailSystem}": {
      "get": {
        "tags": ["Metro"],
        "summary": "取得捷運車站別列車即時到離站電子看板資訊",
        "description": "取得捷運車站別列車即時到離站電子看板資訊",
        "operationId": "MetroApi_LiveBoard_2103",
        "parameters": [
          {
            "name": "RailSystem",
            "in": "path",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,KLRT:高雄輕軌)",
            "required": true,
            "schema": {
              "enum": ["TRTC", "KRTC", "KLRT"],
              "type": "string"
            },
            "x-enum": {
              "KLRT": "高雄輕軌",
              "KRTC": "高雄捷運",
              "TRTC": "臺北捷運",
              "TYMC": "桃園捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.LiveBoard"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.LiveBoard"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/StationTimeTable/{RailSystem}": {
      "get": {
        "tags": ["Metro"],
        "summary": "取得捷運站別時刻表資料",
        "description": "取得捷運站別時刻表資料\r\n\r\n## 使用注意事項\r\n臺北捷運目前無提供文湖線站別時刻表，建議您可使用［取得捷運路線發車班距頻率資料］取得文湖線列車相關資訊。",
        "operationId": "MetroApi_StationTimeTable_2104",
        "parameters": [
          {
            "name": "RailSystem",
            "in": "path",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,KLRT:高雄輕軌,NTDLRT:淡海輕軌)",
            "required": true,
            "schema": {
              "enum": ["TRTC", "KRTC", "TYMC", "KLRT", "NTDLRT"],
              "type": "string"
            },
            "x-enum": {
              "KRTC": "高雄捷運",
              "TYMC": "桃園捷運",
              "NTDLRT": "淡海輕軌",
              "KLRT": "高雄輕軌",
              "TRTC": "臺北捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.StationTimeTable"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.StationTimeTable"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Shape/{RailSystem}": {
      "get": {
        "tags": ["Metro"],
        "summary": "取得指定營運業者之軌道路網實體路線圖資資料",
        "description": "取得指定營運業者之軌道路網實體路線圖資資料",
        "operationId": "MetroApi_Shape_2105",
        "parameters": [
          {
            "name": "RailSystem",
            "in": "path",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,TMRT:臺中捷運,KLRT:高雄輕軌,NTDLRT:淡海輕軌)",
            "required": true,
            "schema": {
              "enum": ["TRTC", "KRTC", "TYMC", "NTDLRT", "TMRT", "KLRT"],
              "type": "string"
            },
            "x-enum": {
              "TMRT": "臺中捷運",
              "KRTC": "高雄捷運",
              "NTDLRT": "淡海輕軌",
              "TYMC": "桃園捷運",
              "TRTC": "臺北捷運",
              "KLRT": "高雄輕軌"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.MetroShape"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.Metro.MetroShape"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/News/{RailSystem}": {
      "get": {
        "tags": ["Metro"],
        "summary": "取得最新消息",
        "description": "取得最新消息",
        "operationId": "MetroApi_News_2106",
        "parameters": [
          {
            "name": "RailSystem",
            "in": "path",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,KLRT:高雄輕軌)",
            "required": true,
            "schema": {
              "enum": ["TYMC", "KRTC", "KLRT", "TRTC"],
              "type": "string"
            },
            "x-enum": {
              "KLRT": "高雄輕軌",
              "TRTC": "臺北捷運",
              "TYMC": "桃園捷運",
              "KRTC": "高雄捷運"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [true, false],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.MRTRealTimeWrapper[PTX.Service.DTO.Rail.Specification.V2.Metro.MRTNewsList.News]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.MRTRealTimeWrapper[PTX.Service.DTO.Rail.Specification.V2.Metro.MRTNewsList.News]"
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/Metro/Alert/{RailSystem}": {
      "get": {
        "tags": ["Metro"],
        "summary": "取得營運通阻資料",
        "description": "取得營運通阻資料",
        "operationId": "MetroApi_Alert_2107",
        "parameters": [
          {
            "name": "RailSystem",
            "in": "path",
            "description": "欲查詢軌道系統(TRTC:臺北捷運,KRTC:高雄捷運,TYMC:桃園捷運,KLRT:高雄輕軌)",
            "required": true,
            "schema": {
              "enum": ["TYMC", "KRTC", "KLRT", "TRTC"],
              "type": "string"
            },
            "x-enum": {
              "TYMC": "桃園捷運",
              "TRTC": "臺北捷運",
              "KRTC": "高雄捷運",
              "KLRT": "高雄輕軌"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$count",
            "in": "query",
            "description": "查詢數量",
            "schema": {
              "enum": [true, false],
              "type": "boolean"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.MRTRealTimeWrapper[PTX.Service.DTO.Rail.Specification.V2.Metro.Alert]"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.API.Rail.Model.MRTRealTimeWrapper[PTX.Service.DTO.Rail.Specification.V2.Metro.Alert]"
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/Station": {
      "get": {
        "tags": ["THSR"],
        "summary": "取得車站基本資料",
        "description": "取得車站基本資料",
        "operationId": "THSRApi_Station_2120",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.THSR.RailStation"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.THSR.RailStation"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/ODFare": {
      "get": {
        "tags": ["THSR"],
        "summary": "取得票價資料",
        "description": "取得票價資料",
        "operationId": "THSRApi_ODFare_2121",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.THSR.RailODFare"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.THSR.RailODFare"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/ODFare/{OriginStationID}/to/{DestinationStationID}": {
      "get": {
        "tags": ["THSR"],
        "summary": "取得指定[起迄站間]之票價資料",
        "description": "取得指定[起迄站間]之票價資料",
        "operationId": "THSRApi_ODFare_2121_1",
        "parameters": [
          {
            "name": "OriginStationID",
            "in": "path",
            "description": "起點車站代碼",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DestinationStationID",
            "in": "path",
            "description": "迄點車站代碼",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.THSR.RailODFare"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.THSR.RailODFare"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/GeneralTimetable": {
      "get": {
        "tags": ["THSR"],
        "summary": "取得所有車次的定期時刻表資料",
        "description": "取得所有車次的定期時刻表資料",
        "operationId": "THSRApi_GeneralTimetable_2122",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.THSR.RailGeneralTimetable"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.THSR.RailGeneralTimetable"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/GeneralTimetable/TrainNo/{TrainNo}": {
      "get": {
        "tags": ["THSR"],
        "summary": "取得指定[車次]的定期時刻表資料",
        "description": "取得指定[車次]的定期時刻表資料",
        "operationId": "THSRApi_GeneralTimetable_2122_1",
        "parameters": [
          {
            "name": "TrainNo",
            "in": "path",
            "description": "欲查詢車次的代碼",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.THSR.RailGeneralTimetable"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.THSR.RailGeneralTimetable"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTrainInfo/Today": {
      "get": {
        "tags": ["THSR"],
        "summary": "取得當天所有車次的車次資料",
        "description": "取得當天所有車次的車次資料",
        "operationId": "THSRApi_DailyTrainInfo_2123",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.THSR.RailDailyTrainInfo"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.THSR.RailDailyTrainInfo"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Rail/THSR/DailyTrainInfo/Today/TrainNo/{TrainNo}": {
      "get": {
        "tags": ["THSR"],
        "summary": "取得當天指定[車次]的車次資料",
        "description": "取得當天指定[車次]的車次資料",
        "operationId": "THSRApi_DailyTrainInfo_2123_1",
        "parameters": [
          {
            "name": "TrainNo",
            "in": "path",
            "description": "欲查詢車次的代碼",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "挑選",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "過濾",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "排序",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "取前幾筆",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "跳過前幾筆",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "health",
            "in": "query",
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "schema": {
              "enum": ["true", "false"],
              "type": "string"
            }
          },
          {
            "name": "$format",
            "in": "query",
            "description": "指定來源格式",
            "required": true,
            "schema": {
              "enum": ["JSON", "XML"],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.THSR.RailDailyTrainInfo"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "title": "Array",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PTX.Service.DTO.Rail.Specification.V2.THSR.RailDailyTrainInfo"
                  }
                }
              }
            }
          },
          "304": {
            "description": "服務端會在Response加上Last-Modified header，表示最近的更新時間。客戶端能利用此時間，於Request加上If-Modified-Since header，若沒有更新，服務端會回應304 StatusCode且空值Content",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          },
          "299": {
            "description": "加入參數'?health=true'即可查詢此API服務的健康狀態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PTX.Service.DTO.Shared.Specification.V3.Base.DisplayHealth"
                }
              }
            }
          }
        }
      }
    },
[...]
